{{#if logged_in}}
  <div class="text-dark text-right">
    <h2>Welcome, {{loggedUser}}!</h2>
  </div>
{{/if}}


<div class="text-center">
{{#if myBlog}}
    <form class="form update-blogpost-form">
      <div class="form-group">
        <label for="blogpost-name">Update Blog Name:</label> 
        <textarea class="form-input bg-primary text-white" id="blogpost-name" name="blogpost-name">{{name}}</textarea>
      </div> 
      <div class="form-group">
        <label for="blogpost-desc">Update Description:</label>
        <textarea  class="form-input bg-primary text-white" id="blogpost-desc" name="blogpost-desc">{{description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

    <br>
    <br>
    <p>active comments on your post</p>
{{else}}
 
  <div>
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  {{/if}}

  <div>
    <div class = "flex-column flex-no-wrap align-center">  
      {{#if comments.length}}
      {{#each comments as |comment|}}  
          <div class="align-start flex-column comment-container"> 
            <p>{{comment.description}}</p>
            <p>- {{comment.name}} on {{format_date comment.date_created}}</p>
          </div>  
      {{/each}}
      {{/if}} 
    </div>
  </div>
  <div>
    <form class="form comment-form"> 
      <div class="form-group">
        <label for="comment-desc" data-id= "{{id}}" >Any Thoughts?:</label>
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
      <div class="display-none">
        <p id="blogpost-id">{{id}}</p>
      </div>
    </form>
  </div>

<script src="/js/blogpost.js"></script>
